repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: mixed-line-ending
  - repo: local
    hooks:
      # linter
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude
        language: system
        types: [python]
      # formatter
      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        types: [python]
      # spell check
      - id: codespell
        name: codespell
        entry: codespell
        language: python
        types: [text]
